node_modules/

# Binary artifacts
*.exe
*.dll
*.so
*.dylib
*.bin
*.obj
*.o
*.a
*.lib
*.zip
*.tar
*.tar.gz
*.tgz
*.zst
*.squashfs
*.img
*.db
*.sqlite
*.sqlite3
*.db3
*.png
*.jpg
*.jpeg
*.webp
*.ico
bzImage
